/* basic page css  */
html {
  scroll-behavior: smooth;
/* Hide scrollbars */
  /* overflow: hidden;   */
  
}    
 
 body {

  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
} 


   /* side nav links  */
div.dream {
  
   width: 7%;
   background-color:transparent;
   z-index: 10; 
   position: fixed; 
   right: 2.5vw;
    top: 300px; 
    height: 20px;
   }

  /* all jumbotron  */
 .display-3 {
 padding-left: 30%;
 }
          
  .lead {
 padding-left: 30%;
  }
  
  div.jumbotron {
  background-color: transparent;
 height: 1000px; */
 }
  
   /* misc code */
  h1.envision {
  color: red;
  
    }

     /* h1 codeman */
     .codeman {
      font-weight: lighter;
         color: darkgrey;
         margin-left: 43%;
        }
      
      /* skills  */
       .skills {
      padding-left: 7%;
      float: left;
      padding-bottom: 5%;
        margin: 0%;
      }
/* misc end  */


     /* smooth scroll  */
    #section1, #section2, #section3, #section4, #section5 {
      height: 0px;
      }
    

/* section 1 slider  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
input[type="radio"] {
  display: none;
}
.js-slider {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
.js-slider_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: right center;
  transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
  transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}
#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3 {
  opacity: 1;
  visibility: visible;
  transform-origin: left center;
  transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}
.js-slider_img {
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.c-img-w-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate3d(-50%, -50%, 0);
}
.c-img-h-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate3d(-50%, -50%, 0);
}
figcaption {
  display: block;
}
.wo-h3 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e60012;

/* test bg for words on silder */
display: inline-block;
  color: #eee;
  background-color: rgba(139,0,10,0.9);
  line-height: 1;
  padding: 0.5em 0.9em;
  margin-right: 0.5em;
  font-size: 1.4rem;
  font-weight: bold;
}
.c-label {
  display: inline-block;
  color: #eee;
  background-color: rgba(139,0,10,0.9);
  line-height: 1;
  padding: 0.5em 0.9em;
  margin-right: 0.5em;
  font-size: 1.4rem;
  font-weight: bold;
}
.view-sm {
  display: none;
}
.js-slider_nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0);
}
.js-slider_nav_item.prev {
  left: 0;
}
.js-slider_nav_item.next {
  right: 0;
  transform: rotateY(180deg);
}
.js-slider_nav_item {
  position: absolute;
  display: none;
  width: 4rem;
  height: 4rem;
  border: 1px solid #e60012;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 1rem;
  top: 55%;
  width: 1rem;
  height: 1px;
  background-color: #e60012;
  transform-origin: left bottom;
  transform: translate3d(0, -50%, 0) rotate(-45deg);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:hover {
   transform: translate3d(-30%, 0, 0);
}
.js-slider_nav_item.next:hover {
   transform: rotateY(180deg) translate3d(-30%, 0, 0);
}
.js-slider_nav_item:hover:before {
  transform: translate3d(0, -50%, 0) rotate(-30deg);
}
.js-slider_nav_item:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 2rem;
  height: 1px;
  background-color: #e60012;
  transform: translate3d(-50%, -50%, 0);
}  
#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
  display: block;
}
.js-slider_indicator {
  position: absolute;
  left: 0;
  top: 63%;
  width: 100%;
  text-align: center;
}
.js-slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}
.js-slider-indi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #e60012;
  transform: translate3d(-50%, -50%, 0);
}
.js-slider-indi:hover:after {
  transform: translate3d(-50%, -50%, 0) scale(1.5);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
#s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
#s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
#s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
  transform: translate3d(-50%, -50%, 0) scale(2.5);
}

/* silder postion  */
.dent {
position: relative;
padding-top: 0.5%;
}

 /* about me section 2   */

div.jumbotronone {
height: 1000px;
}

h1.display-day {
  padding-top: 12vh;
  padding-left: 30%;
 color: darkgrey;
}

hr.my-day {
color: darkred;
border-color: darkred;
}

p.lead-day {
padding-top: 3vh;
padding-left: 30%;
padding-right: 10%;
color: darkgrey;
font-size: 25px;
font-weight: lighter;
}
/* section 2 end  */

 /* tech skills section 3   */
 div.tech {
   height: 100%;
  
  }
  
p.think {
padding-left:15% ;
  font-size: 35px;
  color: darkred ;
}

p.great {
  padding-left: 20% ;
  font-size: 35px;
  color: darkgrey;
}

p.create {
  padding-left: 25% ;
  font-size: 35px;
  color: darkred ;
}

p.every {
  padding-left: 30%;
  font-size: 35px;
  color: darkgrey ;
}

p.listen {
  padding-left:35% ;
  font-size: 35px;
  color: darkred ;
}

p.laugh {
  padding-left: 40% ;
  font-size: 35px;
  color: darkgrey ;
}

p.loud {
  padding-left: 45% ;
  font-size: 35px;
  color: darkred ;
}

p.family {
  padding-left: 50% ;
  font-size: 35px;
  color: darkgrey ;
}
p.coffee {
  padding-left: 55% ;
  font-size: 35px;
  color: darkred ;
}

p.hot {
  padding-left: 60% ;
  font-size: 35px;
  color: darkgrey;
}

p.cold {
  padding-left: 65% ;
  font-size: 35px;
  color: darkred ;
}
/* section 3 end  */

/* section 4 people skills  */
div.tech {
  height: 100%;
 }
 
p.communication {
padding-left:55% ;
 font-size: 35px;
 color: darkred ;
}

p.problem {
 padding-left: 50% ;
 font-size: 35px;
 color: darkgrey;
}

p.teamwork {
 padding-left: 45% ;
 font-size: 35px;
 color: darkred ;
}

p.flexibility {
 padding-left: 40%;
 font-size: 35px;
 color: darkgrey ;
}

p.creativity {
 padding-left:35% ;
 font-size: 35px;
 color: darkred ;
}

p.constant {
 padding-left: 30% ;
 font-size: 35px;
 color: darkgrey ;
}

p.resourcefulness {
 padding-left: 25% ;
 font-size: 35px;
 color: darkred ;
}

p.perseverance {
 padding-left: 20% ;
 font-size: 35px;
 color: darkgrey ;
}
p.helping {
 padding-left: 15% ;
 font-size: 35px;
 color: darkred ;
}

p.curiosity {
 padding-left: 10% ;
 font-size: 35px;
 color: darkgrey;
}

p.understanding {
 padding-left: 5% ;
 font-size: 35px;
 color: darkred ;
}

/* section 5  */

div.jumbotronthink {
  height: 100%;
}


/* Three columns side by side */
.column {
  float: left;
  width: 33.2vw;
  margin-bottom: 0px;
  padding:  0px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

ol.breadcrumb {
background-color: transparent;

}

div.container {

padding-left: 10%;
color: darkgrey;
font-weight: 600;
text-shadow: darkred;
font-size: large;



}

div.card {

  background-color: transparent;
  

}




    

